body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6b717e;
}

.menu-container{
    color:#ECEFF4;
    background-color: #2E3440;
    padding: 20px 0px;
    justify-content: center;
    
    display: flex;
}



.menu{
    /* border: 1px solid white; */
      /* For debugging */
    width: 900px;
    display:flex;
    justify-content: space-between;
    padding:5px 5px;
    font-size:18px;
    /* font-family:BlinkMacSystemFont, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    
    font-family: Lato;
    font-weight: bold;

}

/* .links{
    /* border: 1px solid white;     Just for View */
    /* justify-content: flex-end; */
    /* display:flex; */
/* } */

.signup{
    /* border: 1px solid white; */
    margin-left:auto;
    /* margin-right:auto; */
}

.login{
    margin-left:20px;
}


.header-container{
    font-family: Lato;
    color: #ECEFF4;
    background-color: #3B4252;
    justify-content: center;

    display: flex;
}

.header{
    font-family: Lato;
    color:#ECEFF4;
    width: 900px;
    height:300px;
    justify-content: space-between;
    align-items: center; /* vertically aligns at the center */
    
    display: flex;
}

.photo-grid-container{
    display: flex;
    justify-content: center;
}

.photo-grid{
    width:900px;
    /* border: 1px solid white; */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
    
}

.photo-grid-item{
    /* border: 1px solid white; */
    width: 300px;
    height: 300px;
}
/* Testing Flex Order */
/* 
.first-item{
    order:5;
}
.second-item{
    order:2;
}
.third-item{
    order:4;
}
.fourth-item{
    order:3;
}
.last-item{
    order:2;
} */

.subscribe,
.social{
    align-self:flex-end;
    margin-bottom: 20px;
}

/* Experimenting with Flexible Items */
.footer{
    display:flex;
    border:1px solid #ECEFF4;
    height: 100px;
    margin-bottom: 0px;
}

.footer-item{
    background-color:#3B4252;
    border: 1px solid #ECEFF4;
    height:200px;
    flex: 1;     /* Can represent weight of flex */
}

.footer-three,
.footer-one{
    width:300px;
    flex:initial;
    background-color: #5a6173;
;
}
