body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
#menu {
    /* outline: black dashed 1px; */
    width: 100% ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}
.row {
    width: 500px;
    /* outline: black dashed 2px; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

#dogs-table td, th{
    border: black solid 1px;
    padding: 10px;
}


#animals-table td, th{
    border: black solid 1px;
    padding: 10px;
}

#animals-table{
    width: 500px;
}

#column_style td, th{
    border: black solid 1px;
    padding: 10px 20px;
}
/* 
col {
    border-left: 4px solid #C1437A;
} */

#school_table{
    font-family: Arial, Helvetica, sans-serif;
}

#school_table td, th{
    border:#BEBEBE solid 1px;
    padding: 10px 20px;
    /* border-collapse: collapse; */
}

